<script type="text/javascript">
  const checkExp = (ts) => {
    var today = new Date().setHours(0, 0, 0, 0);

    if(today < (ts * 1000)){
      return true;
    } else {
      return false;
    }
  }
</script>

<script type="text/javascript">
  const getredirecturl = (env) => {
    if (env === 'prod') {
      return window.location.origin + "/callback/";
    } else {
      return window.location.origin + "/callback/";
    }
  }

  const domain = "{{site.domain | json}}";
  const clientId = "{{site.clientid | json}}";
  const auth0 = new Auth0Client({
    domain: domain,
    client_id: clientId,
    redirect_uri: getredirecturl(checkenv())
  });

  const run = async () => {

    try {
      const token = await auth0.getTokenSilently({detailedResponse: true});

      if ( token === null ) {
        logout();
      }
      if (!checkExp(jwt_decode(token.id_token).exp)) {
        logout();
      }

      const res = await fetch(getUrl(), {
        method: 'HEAD',
        headers: {
          'Content-Type': 'application/json',
          'Access-Control-Allow-Origin': '*',
          'Authorization': JSON.parse(localStorage.getItem('auth_token'))['id_token']
        }
      })

      if (res.status !== 200) {
        alert("Você não tem permissão para acessar essa aplicação");
        logout();
      }

    } catch (error) {
      console.log(error);
      alert(error)
      window.location.href = "/login";
    }
  }

  window.onload = async () => {
    run();
  }
</script>
