<script type="text/javascript">
  const getredirecturl = (env) => {
    if (env === 'prod') {
      return window.location.origin + "/callback/";
    } else {
      return window.location.origin + "/callback/";
    }
  }

  const domain = "{{site.domain | json}}";
  const clientId = "{{site.clientid | json}}";
  const auth0 = new Auth0Client({
    domain: domain,
    client_id: clientId,
    redirect_uri: getredirecturl(checkenv())
  });

  const run = async () => {

    try {
      //get thi from localstorage
      const token = JSON.parse(localStorage.getItem('auth_token'));

      if ( token === null ) {
        console.log("token null");
        logout();
      }
      if (!checkExp(jwt_decode(token.id_token).exp)) {
        console.log("token exp");
        logout();
      }

      const res = await fetch(getUrl(), {
        method: 'HEAD',
        headers: {
          'Content-Type': 'application/json',
          'Access-Control-Allow-Origin': '*',
          'Authorization': token.id_token
        }
      })

      if (res.status === 401) {
        alert("Você precisa realizar login");
        logout();
      }

      if (res.status !== 200) {
        alert("Você não tem permissão para acessar essa aplicação");
        logout();
      }

    } catch (error) {
      console.log(error);
      alert(error)
      window.location.href = "/login";
    }
  }

  window.onload = async () => {
    run();
  }
</script>
