---
layout: page
permalink: /list
---
{% raw %}
  <div id="app">
    <h2>Lista de filmes</h2>
    <hr>
    <ul class="" v-for="movie in movies">
      <li class="">
        {{ movie.name }} - {{movie.rate}}/10 |
        <a :data-id=movie.id href="#" @click="view">Ver</a> |
        <a :data-id=movie.id href="#" @click="deleteMovie">Excluir</a> |
      </li>
    </ul>
  </div>
{% endraw %}


<script type="module">
  import { createApp } from 'vue';

  createApp({
    data() {
      return {
        movies: []
      }
    },
    methods: {
      deleteMovie (elm) {
        elm.preventDefault();
        const movieProxy = this.movies.filter(movie => movie.id === elm.target.dataset.id);
        const movieParsed = JSON.parse(JSON.stringify(movieProxy[0]));
        movieParsed.deleted = true;

        //remove from UI
        this.movies = [...this.movies.filter(movie => movie.id !== elm.target.dataset.id)]

        //store in localStorage as deleted
        const storage = JSON.parse(localStorage.getItem('movies'));
        let movies = [];
        movies = [...storage.filter(movie => movie.id !== elm.target.dataset.id)]
        movies.push(movieParsed);
        localStorage.setItem('movies', JSON.stringify(movies));
      },
      view (elm) {
        elm.preventDefault();
        window.location = '/view?id=' + elm.target.dataset.id;
      }
    },
    created () {
      if (localStorage.getItem('movies')) {
        //load from localStorage but only allow display for the not deleted ones
        const movies = JSON.parse(localStorage.getItem('movies')).filter(movie => movie.deleted != true);
        this.movies.push(...movies)
      }
    }
  }).mount('#app')
</script>

{% include auth/auth_check.html %}
