---
layout: page
permalink: /list
---
{% raw %}
  <div id="app">
    <h2>Lista de filmes</h2>
    <hr>
    <ul class="" v-for="movie in movies">
      <li class="">
        {{ movie.name }} - {{movie.rate}}/10 |
        <a href="#">Editar</a> |
        <a href="#">Atualizar</a> |
        <a :id=movie.id href="#" @click="deleteMovie">Excluir</a> |
      </li>
    </ul>
  </div>
{% endraw %}


<script type="module">
  import { createApp } from 'vue';

  createApp({
    data() {
      return {
        movies: []
      }
    },
    methods: {
      deleteMovie (elm) {
        elm.preventDefault();
        this.movies = [...this.movies.filter(movie => movie.id !== elm.target.id)]
        localStorage.setItem('movies', JSON.stringify(this.movies));
      }
    },
    created () {
      this.movies.push(...JSON.parse(localStorage.getItem('movies')))
    }
  }).mount('#app')
</script>

{% include auth/auth_check.html %}
