---
layout: page
permalink: /register
---
{% raw %}

<div id="app">
  <h1>Olá! {{user.given_name}}</h1>
  <h2>Cadastrar filmes</h2>
  <hr>
  <form ref="moviesform" @submit="checkForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" v-model="name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Avaliação (0-10)</label>
      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="" v-model="rate">
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>
{% endraw %}

<script type="module">
  import { createApp } from 'vue';

  createApp({
    data() {
      return {
        count: 0,
        name: '',
        rate: null,
        user: JSON.parse(localStorage.getItem('user'))
      }
    },
    methods: {
      checkForm
    }
  }).mount('#app')
</script>

<script>
  function checkForm (e) {
    e.preventDefault();
    let movies = []
    const data = {
      'id': uuidv4(),
      'user_id': this.user.sub,
      'name': this.name,
      'rate': this.rate,
      'created_at': Date.now(),
      'updated_at': Date.now(),
      'deleted': false
    }

    const storage = JSON.parse(localStorage.getItem('movies'));

    if (storage) {
      movies = [...storage]
    }

    movies.push(data)

    localStorage.setItem('movies', JSON.stringify(movies));

    this.$refs.moviesform.reset();
  }
</script>

{% include auth/auth_check.html %}
