---
layout: page
permalink: /view
---
{% raw %}

<div id="app">
  <h2>Filme</h2>
  <hr>
  <form ref="moviesform" @submit="checkForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" v-model="name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Avaliação (0-10)</label>
      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="" v-model="rate">
    </div>
    <button type="submit" class="btn btn-primary">Atualizar</button>&nbsp;
    <button type="button" class="btn btn-danger" @click="deleteMovie">Excluir</button>&nbsp;
    <button type="button" class="btn btn-secondary" @click="back">Voltar</button>
  </form>
</div>
{% endraw %}

<script type="module">
  import { createApp, computed } from 'vue';

  createApp({
    data() {
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const id = urlParams.get('id');
      let movies = JSON.parse(localStorage.getItem('movies'));
      const movie = movies.filter(movie => movie.id === id)[0];

      return {
        id: id,
        name: movie.name,
        rate: movie.rate,
        created_at: movie.created_at,
        updated_at: Date.now(),
        deleted: movie.deleted,
        movie: movie,
        user: JSON.parse(localStorage.getItem('user'))
      }
    },
    methods: {
      checkForm,
      back () {
        window.location = '/list';
      },
      deleteMovie (elm) {
        elm.preventDefault();

        let data = unwrap(this.movie);
        data.deleted = true;

        const result = confirm("Tem certeza?")

        if (!result) {
          return;
        }

        const storage = JSON.parse(localStorage.getItem('movies'));
        let movies = [];
        movies = [...storage.filter(movie => movie.id !== this.id)]
        movies.push(data);
        localStorage.setItem('movies', JSON.stringify(movies));
        window.location = '/list';
      }
    }
  }).mount('#app')
</script>

<script>
  function checkForm (e) {
    e.preventDefault();
    const result = confirm("Tem certeza?")

    if (!result) {
      return;
    }

    let movies = []
    const data = {
      'id': this.id,
      'name': this.name,
      'rate': this.rate,
      'created_at': this.created_at,
      'updated_at': this.updated_at,
      'deleted': this.deleted
    }

    const storage = JSON.parse(localStorage.getItem('movies'));

    if (storage) {
      movies = [...storage.filter(movie => movie.id !== this.id)]
    }

    movies.push(data)

    localStorage.setItem('movies', JSON.stringify(movies));

    window.location = "/list"

    // fetch(getUrl(),{
    //   method: 'POST',
    //   headers: {
    //     'Content-Type': 'application/json',
    //     'Access-Control-Allow-Origin': '*',
    //     'Authorization': JSON.parse(localStorage.getItem('auth_token'))['id_token']
    //   },
    //   body: JSON.stringify(data)
    // })
    //   .then(response => response.json())
    //   .then(data => console.log(data));

  }
</script>

{% include auth/auth_check.html %}
